 <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-3" id="home-title">Twitter Clone</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
      </div>

    <div id="navbarExample" class="navbar-menu">
      <div class="navbar-end">
      </div>
      </div>
    </div>
</nav>
