// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.content a {
  color: black;
}

.fa-twitter {
  color: #34baeb;
}

.nav-brand .title {
  color: white;
}